{
    "parser": "babel-eslint",
    "extends": [
        "airbnb/base"
    ],
    "env": {
        "browser": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "require-yield": "off",
        "func-names": "off",
        "indent": ["error", 4],
        "linebreak-style": "off",
        "no-return-await": "off",
        "arrow-body-style": "off",
        "import/prefer-default-export": "off",
        "import/no-extraneous-dependencies": "off",
        "consistent-return": "off",
        "no-param-reassign": "off"
    }
}
